*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    background-color: var(--bg);
}

:root {
    --bg: #000000;
    --accent: #1df900;
    --empty: #686868;
    --ship: #108e00;
}

h2 {
    text-align: center;
    color: var(--accent);
}

#gameboards {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
}

.gameboard {
    width: 40%;
}

.board-cells {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    aspect-ratio: 1 / 1;
    border: solid 3px var(--accent);
}

.board-cells > div {
    background-color: var(--empty);
    border: solid 1px var(--accent);
}

.board-cells > .has-ship {
    background-color: var(--ship);
}